$montserrat-reg: 'Montserrat', sans-serif;
$montserrat-bold: 'Montserrat Bold', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$font-color: #60606E;
$accent-color: rgba(123, 238, 199, 1);

$max-width: 1140px;
